@model IEnumerable<SimpleEmployeeManagementApp.Models.Employee>

@{
    ViewData["Title"] = "Employee List";
}

<div class="d-flex justify-content-between align-items-center">
    <h2>Employee List</h2>
    <input type="text" id="searchInput" class="form-control w-25" placeholder="Search...">
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Position</th>
            <th>Email</th>
            <th>Salary</th>
            <th>Date Of Joining</th>
            <th>Is Active</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="employeeTable">
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.Position</td>
                <td>@employee.Email</td>
                <td>@employee.Salary</td>
                <td>@employee.DateOfJoining.ToShortDateString()</td>
                <td>@employee.IsActive</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-primary btn-sm">Edit</a>
                    <a asp-action="Delete" asp-route-id="@employee.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center">
    <a asp-action="Create" class="btn btn-success">Add New Employee</a>
</div>

<script>
    const searchInput = document.getElementById('searchInput');
    const tableRows = document.querySelectorAll('#employeeTable tr');

    searchInput.addEventListener('input', function () {
        const query = searchInput.value.toLowerCase(); 

        tableRows.forEach(row => {
            const cells = row.getElementsByTagName('td'); 
            let rowText = ''; 

            for (let i = 0; i < cells.length; i++) {
                rowText += cells[i].textContent.toLowerCase(); 
            }

            if (rowText.includes(query)) {
                row.style.display = ''; 
            } else {
                row.style.display = 'none'; 
            }
        });
    });
</script>
