@model IEnumerable<SimpleEmployeeManagementApp.Models.Employee>

@{
    ViewData["Title"] = "Employee List";
}

<h2>Employee List</h2>

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Position</th>
            <th>Email</th>
            <th>Salary</th>
            <th>Date Of Joining</th>
            <th>Is Active</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.Position</td>
                <td>@employee.Email</td>
                <td>@employee.Salary</td>
                <td>@employee.DateOfJoining.ToShortDateString()</td>
                <td>@employee.IsActive</td>
            </tr>
        }
    </tbody>
</table>
